* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.decoration-none {
  text-decoration: none;
}

.debug [class*="col-"] {
  border: 1px solid black;
  background-color: chartreuse;
  position: relative;
}

.float-left {
  float:left;
}

.float-right {
  float: right;
}

.container {
  max-width: 75%;
}

/* COLOURS */

.white-text {
  color:#FFF;
}

.black-text {
  color: #212529;
}

.grey-text {
  color: #686868;
}

/* NAVBAR SECTION */

#navbar-jumbotron [class*="col-"] {
  position: relative;
  height: 64px;
}

#hero [class*="col-"] {
  position: relative;
  height: 650px;
}

#navbar {
  background-color: #FFF;
  position: fixed;
  width: 100%;
  z-index: 1
}

#navbar [src="img/logo-helbiz.svg"] {
  position: absolute;
  left:0;
  top:50%;
  transform: translate(0, -50%);
  width: 90px;
}

.container-hero {
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: center;
}

.left-nav li  {
  display: inline-block;
  font-size: 0.7rem;
  margin: 0 0 0 25px;
}

.right-nav li {
  display: inline-block;
  font-size: 0.7rem;
  margin:0;
  padding: 0 8px;
  text-align: center;
}

.right-nav li:not(:last-child) {
  border-right: 1px solid black;
}

.left-nav ul {
  position: absolute;
  text-align: left;
  top:50%;
  right:0;
  transform: translate(0, -50%);
}

.right-nav ul {
  position: absolute;
  top:50%;
  left:5px;
  transform: translate(0, -50%);
}

/* HERO SECTION */

.jumbotron {
  width: 100%;
}

.hero-contents {
  width:100%;
  height: 90%;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-text {
  width:100%;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.hero-text h1 {
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 600;
}

.hero-text p {
  font-size: 1rem
}

.logos {
  position: relative;
  width:100%;
  height: 30px;
  display: block;
  left:50%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
  text-align: center;
}

.logos img {
  width: 150px;
}

.menu-bars {
  position: absolute;
  text-align: left;
  top:50%;
  right:0;
  transform: translate(0, -50%);
}

/* MAIN SECTION */

#bikes [class*="col-"] {
  position: relative;
  height: 850px;
}

#bikes .container {
  max-width: 90%;
}

.bike-model {
  width:95%;
  height: 90%;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  background-color: #fafafa;
}

.bike-content {
  width:100%;
  height: 90%;
  position: absolute;
  left:50%;
  bottom:0;
  transform:translate(-50%, 0);
}

.bike-content img[src="img/bizbike-logo.svg"], .bike-content img[src="img/bizgo-logo.svg"]  {
  position: absolute;
  left:50%;
  top:0;
  transform:translate(-50%,-50%);
  width:200px;
  margin-top: 15px;
  margin-bottom: 10px;
  display: block;
}

.bike-content img[src="img/helbiz-bike.jpg"], .bike-content img[src="img/helbizgo.jpg"] {
  position: absolute;
  left:50%;
  bottom:30px;
  transform:translate(-50%, 0);
  width: 70%;
}

.bike-content p {
  text-align: center;
  margin:65px 0 30px 0;
}

.bike-content a {
  display: block;
  text-align: center;
  margin: 15px 0 15px 0;
  font-size: 1rem;
}

#how-works {
  background-image: url(../img/main-1.jpg);
  background-size: cover;
  background-position: center;
}

#how-works .container {
  height: 500px;
  max-width:95%;
  text-align: center;
}

#how-works [class*="col-"] {
  position: relative;
  height: 870px;
}

#how-works .small-works {
  position: relative;
  height:80px;
}


img[src="img/main-phone.png"] {
width: 320px;
margin-top: 150px;
}

#how-works .container :nth-child(3) > h4 {
  font-size: 1.2rem;
  position: absolute;
  top:45%;
  left:5%;
  text-align: left;
  margin-top: 200px;
}

#how-works > .container :nth-child(3) > p {
  font-size: 1.2rem;
  position: absolute;
  top:50%;
  left:5%;
  text-align: left;
  margin-top: 200px;
}

#how-works > .container :nth-child(1) > p {
  font-size: 2.5rem;
  position: absolute;
  top:44%;
  left:50%;
  text-align: left;
  margin-top: 200px;
}

.small-works :first-child:not(h4) {
  position: absolute;
  font-size: 2rem;
  margin-left: 50px;
  top:0;
  font-weight: 600;
}

.small-works > h4{
  position: absolute;
  font-size: 1.3rem;
  margin-left: 50px;
}

.small-works :last-child{
  position: relative;
  top:30px;
  font-size: 1.3rem;
  margin-left: 50px;
  margin-top: 10px;
  text-align: left;
}

#main-banner [class*="col-"] {
  position: relative;
  height: 620px;
}

#main-banner .container {
  max-width: 90%;
}

#main-banner .banner {
  background-image: url(../img/main-2.jpg);
  background-size: cover;
  background-position: center;
}

.get-the-app {
  width:80%;
  height: 88%;
  position: absolute;
  top:50%;
  left:0;
  transform: translate(0, -50%);
  width: 98%;
  background-image: url(../img/main-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.find-us {
  width:80%;
  height: 88%;
  position: absolute;
  top:50%;
  right:0;
  transform: translate(0, -50%);
  width: 98%;
  background-image: url(../img/main-4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-text {
  width: 50%;
  height: 100%;
  float: right;
  position: relative;
}

.banner-text .text {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text *{
  padding: 12px 10px;
}

.text :first-child{
  font-size: 3rem;
  font-weight: 600;
}

.text :nth-child(2){
  font-size: 1.4rem;
  font-weight: 400;
}

.left-banner-text, .right-banner-text{
  position: absolute;
  top:10%;
  left:50%;
  transform: translate(-50%, 0);
  text-align: center;
  width: 90%;
  font-size: 1.3rem;
}

.left-banner-text *, .right-banner-text * {
  padding: 10px 10px;
}

.left-banner-text :first-child, .right-banner-text :first-child  {
  font-size: 2rem;
  font-weight: 600;
}

.left-banner-text :nth-child(2), .right-banner-text :nth-child(2) {
  margin-bottom: 7px;
}

/* FOOTER */

#social-banner [class*="col-"] {
  position: relative;
  height: 500px;
}

#social-banner {
  background-image: url(../img/main-social.jpg);
  background-size: cover;
  background-position: center;
}

.social-text {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 100%;
}

.social-text i {
  margin:15px;
  font-size: 40px;
}

.social-text > div {
  position: absolute;
  top:60%;
  left:50%;
  transform: translate(-50%, -50%);
}

.social-text > p {
  position: absolute;
  top:35%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 2.3rem;
  font-weight: 600;
}

#footer-section {
  background-color: black;
  margin-top: 45px;
  height: 1000px;
}

#footer-section .row div {
  margin-top: 130px;
}

#footer-section :first-child [class*="col-"] {
  position: relative;
  height: 400px;
  border-bottom:1px solid rgba(104,104,104,0.5);
}

#footer-section :last-child [class*="col-"] {
  position: relative;
  height: 160px;
  border-bottom: 1px solid rgba(104,104,104,0.5);
}

#footer-section :last-child [class="col-lg-4 col-md-12 col-xs-12"] {
  border-bottom: 0;
}


#footer-section .container {
  max-width: 75%;
}

.row img {
  position: absolute;
  top:0;
  width:170px;
}

.row ul li {
  display: block;
  margin-top: 25px;
  font-size: 1.1rem;
}

.row h1 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 10px;
}

.footer-logos {
  position: absolute;
  top:50%;
  left:0;
  transform: translate(0, -50%);
}

.footer-logos i {
  color: #FFF;
  margin-right: 18px;
  font-size: 30px;
}

.bottom-row h1 {
  position: absolute;
  top:50%;
  left:0;
  transform: translate(0, -50%);
  font-size: 1rem;
  font-weight: 400;
}

.os-logos {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width:100%;
  height:100%;
}

.app-store {
  position: absolute;
  height: 50%;
  width:80%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.os-logos img {
  width:45%;
  border:1px solid #9b9b9b;
  border-radius: 8px;
  margin:0 5px;
}


/* MEDIA QUERY  */

/* iPad Landscape */
@media screen and (min-width: 993px) and (max-width: 1024px) {
  .bike-model {
    height: 80%;
  }

  #bikes [class*="col-"] {
    position: relative;
    height: 544px;
  }

  .row img {
    width:120px;
    top:10px;
  }

  .os-logos img {
    width:115px;
    border:1px solid #9b9b9b;
    border-radius: 8px;
    margin:0 5px;
  }

  .row h1 {
    font-size: 1.2rem;
  }

  .row ul li {
    font-size: 0.9rem;
  }

  .hero-text h1 {
    font-size: 2.4rem;
  }

  .logos img {
    width: 120px;
  }

  #how-works > .container :nth-child(1) > p {
    font-size: 2.1rem;
    left:40%;
  }

  .banner-text {
    width: 54%;
  }

  .text :first-child {
    font-size: 2.5rem;
  }

  .banner-text .text :nth-child(2) {
    font-size: 1.1rem;
  }

  .banner-text .text, .bike-content p, .small-works :last-child,
  .left-banner-text, .right-banner-text, .row h1, .right-banner-text  {
    font-size: 1rem;
  }

  #footer-section {
    height: 850px;
  }

  .footer-logos i {
    font-size: 25px;
    margin:3px;

  }

  .bottom-row h1 {
    font-size: 0.8rem;
  }

  .app-store {
    width:100%;
  }
}

/* DESKTOP */
@media screen and (min-width: 769px) and (max-width :992px) {

  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 0.9rem;
  }

  .logos img {
    width: 130px;
    margin-right:10px;
  }

  .bike-content img[src="img/helbiz-bike.jpg"], .bike-content img[src="img/helbizgo.jpg"] {
    position: absolute;
    left:50%;
    bottom:0;
    transform:translate(-50%, 0);
  }

  .bike-content p {
    padding: 0 10px 0 10px;
  }

  #bikes [class*="col-"] {
    position: relative;
    height: 500px;
  }

  .banner {
    width: 100%;
  }

  .get-the-app {
    width:100%
  }

  .find-us {
    width:100%
  }

  .socials {
    width:100%;
  }

  #main-banner .right-banner img, #main-banner .left-banner img {
    position: absolute;
    top:50%;
    right:0;
    transform: translate(0, -50%);
    width: 100%;
  }

  .banner-text {
    width: 100%;
    height: 100%;
    float: right;
    position: relative;
  }

  #how-works .small-works {
    position: relative;
    height:100px;
  }

  .row img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:170px;
  }

  #footer-section :first-child [class*="col-"] {
    position: relative;
    height: 35px;
    border-bottom: none;
  }

  #footer-section :last-child [class*="col-"] {
    position: relative;
    height: 80px;
    top:320px;
    border-bottom: none;
  }

  .os-logos {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:50%;
  }

}

/* iPAD Portrait */
@media screen and (max-width: 768px) {

  #bikes [class*="col-"] {
    position: relative;
    height: 500px;
  }

  .bike-content img[src="img/helbiz-bike.jpg"], .bike-content img[src="img/helbizgo.jpg"] {
    position: absolute;
    left:50%;
    bottom:30px;
    transform:translate(-50%, 0);
    width: 250px;
  }

  .jumbotron {
    width: 100%;
  }

  .banner {
    width: 100%;
  }

  .socials {
    width:100%;
  }

  #how-works [class*="col-"] {
    position: relative;
    height: 750px;
  }

  #how-works .small-works {
    position: relative;
    height:110px;
  }

  img[src="img/main-phone.png"] {
  width: 280px;
  margin-top: 150px;
  }

  #main-banner [class*="col-"] {
    position: relative;
    height: 500px;
  }

  #main-banner .right-banner img, #main-banner .left-banner img {
    position: absolute;
    top:50%;
    right:0;
    transform: translate(0, -50%);
    width: 100%;
  }

  .banner-text {
    width: 100%;
    height: 100%;
    float: right;
    position: relative;
  }

  .hero-text h1 {
    font-size: 2.4rem;
  }

  .logos img {
    width: 120px;
  }

  .text :first-child {
    font-size: 2.5rem;
  }

  .banner-text .text :nth-child(2) {
    font-size: 1.1rem;
  }

  .banner-text .text, .bike-content p, .small-works :last-child,
  .left-banner-text, .right-banner-text, .row h1, .right-banner-text  {
    font-size: 1rem;
  }

  .get-the-app {
    width:100%
  }

  .find-us {
    width:100%
  }

  #footer-section {
    background-color: black;
    margin-top: 45px;
    height: 900px;
    font-size: 0.9rem
  }

  #footer-section :first-child [class*="col-"] {
    position: relative;
    height: 180px;
    border-bottom: none;
  }

  #footer-section :last-child [class*="col-"] {
    position: relative;
    height: 90px;
    top:160px;
    border-bottom: none;
  }

  #footer-section .row div {
    margin-top: 30px;
  }

  .os-logos {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:300px;
  }

  .row img {
    position: absolute;
    top:90px;
    left:50%;
    transform: translate(-50%, -50%);
    width:170px;
  }

  .social-text > p {
    position: absolute;
    top:35%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    font-weight: 600;
  }

  .social-text i {
    margin:3px;
    font-size: 27px;
  }

  .os-logos img {
    width:110px;
    border:1px solid #9b9b9b;
    border-radius: 8px;
    margin:0 5px;
  }

  .row h1 {
    font-size: 1.2rem;
  }

  .row ul li {
    font-size: 0.9rem;
  }

  .bottom-row h1 {
    font-size: 0.9rem;
  }

}

/* iPHONE 6/7/8 Plus IOS 11 */
@media screen and (max-width: 415px) {

  .hero-text h1 {
    font-size: 2.4rem;
  }

  .banner-text .text, .bike-content p, .small-works :last-child,
  .left-banner-text, .right-banner-text, .row h1, .right-banner-text  {
    font-size: 1rem;
  }

  .logo {
    margin-top: 50px;
  }

  .logos img {
    width: 120px;
  }

  .small-works :first-child:not(h4) {
    position: absolute;
    font-size: 1.8rem;
    margin-left: 50px;
    top:0;
    font-weight: 600;
  }

  .small-works > h4{
    position: absolute;
    font-size: 1.2rem;
    margin-left: 50px;
  }

  .banner-text .text :nth-child(2) {
    font-size: 1.1rem;
  }

  .banner-text .text :nth-child(1) {
    font-size: 2.4rem;
  }

  .get-the-app {
    width:100%
  }

  .find-us {
    width:100%
  }

  .social-text > p {
    position: absolute;
    top:35%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    font-weight: 600;
  }

  .social-text i {
    margin:3px;
    font-size: 27px;
  }

  .os-logos img {
    width:100px;
    border:1px solid #9b9b9b;
    border-radius: 8px;
    margin:0 5px;
  }

  .row img {
    width:140px;
  }

  .row ul li {
    font-size: 0.8rem;
  }

  .footer-logos i {
    font-size: 25px;
  }

  .bottom-row h1 {
    font-size: 0.8rem;
  }
}
