* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

/* COMMON */
.decoration-none {
  text-decoration: none;
}

/* COLOURS */

.white-text {
  color:#FFF;
}

.black-text {
  color: #212529;
}

.container {
  max-width: 75%;
}

.debug [class*="col-"] {

  border: 1px solid black;
  background-color: chartreuse;
  position: relative;
}

#navbar-jumbotron [class*="col-"] {
  position: relative;
  height: 64px;
}

#hero [class*="col-"] {
  position: relative;
  height: 650px;
}

.container-hero {
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: center;
}

#navbar-jumbotron .logo {
  position: absolute;
  left:0;
  top:50%;
  transform: translate(0, -50%);
  width: 90px;
}

.left-nav li  {
  display: inline-block;
  float: left;
  font-size: 0.7rem;
  margin: 0 0 0 25px;
}

.right-nav li {
  display: inline-block;
  float: left;
  font-size: 0.7rem;
  margin:0;
  padding: 0 8px;
  text-align: center;
}

.right-nav li:not(:last-child) {
  border-right: 1px solid black;
}

.left-nav ul {
  position: absolute;
  text-align: left;
  top:50%;
  right:0;
  transform: translate(0, -50%);
}

.right-nav ul {
  position: absolute;
  top:50%;
  left:5px;
  transform: translate(0, -50%);
}

.hero-contents {
  width:100%;
  height: 90%;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  /* background-color: red; */
  text-align: center;
}

.hero-text {
  width:100%;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  /* background-color: blue; */
}

.hero-text h1 {
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 600;
}

.hero-text p {
  font-size: 1rem
}

.logos {
  position: relative;
  width:100%;
  height: 30px;
  display: block;
  /* background: chartreuse; */
  left:50%;
  transform: translate(-50%, -50%);
  margin-top: 45px;
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.logos img {
  width: 150px;
}

.menu-bars {
  float:right;
  position: absolute;
  text-align: left;
  top:50%;
  right:0;
  transform: translate(0, -50%);
}

/* MEDIA QUERY  */

@media screen and (min-width: 769px) and (max-width :992px) {

  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 0.9rem;
  }

  .logos img {
    width: 130px;
    margin-right:10px;
  }

}

@media screen and (max-width: 768px) {
  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 0.9rem;
  }

  .logos img {
    width: 120px;
    margin-right:10px;
  }
}
